.profileContainer {
  width: 100%;
  height: 92vh;
  margin: 0 auto;
  padding-top: 15vh;
  align-items: center;
}
.profileDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 280px;
}
.profileImgDiv {
  display: flex;
  margin-right: 30px;
  width: 300px;
  height: 300px;
}
.profileImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.updateBtnDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
