.input {
  appearance: none;
  margin: 0px;
  border-radius: 6px;
  border: 1px solid #b3b3b3;
  padding: 0px 20px;
}

.input:focus {
  /* border-color: #fed0cc; */
  border: 1px solid #f97066;
  outline: none;
}

.sizesm {
  font-size: 14px;
  width: 449px;
  height: 42px;
}

.sizemd {
  font-size: 14px;
  width: 885px;
  height: 42px;
}

.variantprimary {
  background-color: #ffffff;
}

.variantsecondary {
  background-color: #f3f3f3;
  border-radius: 99px;
  border: 1px solid #b3b3b3;
  border: none;
}
