.detailContainer {
  margin: 0;
  padding: 0;
  padding-top: 8vh;
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  /* flex-direction: column; */
}
.postContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 6vh;
  width: 80vw;
}

.imgBox {
  display: flex;
  justify-content: center;
}

.funcSection {
  display: flex;
  width: 80vw;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}

.nicknameBlock {
  box-sizing: border-box;
  border-right: 1px solid gray;
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chatBox {
  display: flex;
  gap: 7px;
  align-items: center;
  box-sizing: border-box;
  border-right: 1px solid gray;
  padding-right: 10px;
}

.FuncBox {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.chatNumbers {
  display: flex;
  box-sizing: border-box;
  border-bottom: 1.5px solid gray;
  margin-top: 20px;
  width: 80vw;
  justify-content: flex-end;
}

.ContentsBox {
  display: flex;
  margin-top: 50px;
  gap: 20px;
  flex-direction: column;
}

.postContent {
  margin-bottom: 40px;
}

.tagDirection {
  display: flex;
  flex-direction: row;
}

.tagSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tagType {
  display: flex;
}

.tag {
  box-sizing: border-box;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 15px;
}
.CommentContainer {
  box-sizing: border-box;
  border-top: 1px solid black;
  margin-top: 50px;
  padding-top: 25px;
  display: flex;
  justify-content: center;
}
.inputBox {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.commentSubmit {
  display: flex;
  position: absolute;
  background: none;
  border: none;
  font-size: 20px;
  top: 20%;
  margin-left: 73vw;
  color: #ff4d00;
  /* margin-left: 71vw;
  margin-top: 1vw; */
}
.commentSubmit {
  cursor: pointer;
}
.getCommentBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
}
.commentLeftBox {
  display: flex;
  gap: 20px;
  width: 60vw;
}

.commentLeftData {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userNick {
  margin-bottom: 15px;
  font-weight: bold;
}

.commentRightBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
}

.rightFuncBox {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
