.maincontainer {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 100px;
}
h1 {
  color: #101828;
}

.categoryBox {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.filtercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}

.selectBox {
  display: flex;
  width: 120px;
}

.postList {
  margin-bottom: 40px;
}
