.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200vh;
  margin: 0;
  padding-top: 4vh;
}
.containerLeft {
  width: 300px;
  height: auto;
  background-color: #fff8f7;
  display: flex;
  margin: 0;
  flex-direction: column;
  padding-top: 45px;
}
.mypageButton {
  width: 100px;
  border: 0;
  background-color: transparent;
  margin: 25px 0 0 150px;
  font-size: 1rem;
  cursor: pointer;
}
.mypageButton:active {
  font-weight: 800;
}
.mypageButton:visited:focus {
  font-weight: 800;
}
.containerRight {
  width: 100%;
}
.leaveBtn {
  width: 100px;
  border: 0;
  position: fixed;
  bottom: 0;
  background-color: transparent;
  margin: 0 0 0 150px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 70%;
}
