.postcard {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 320px;
  box-sizing: border-box;
}

.topBox {
  width: 100%;
  height: 80%;
  position: relative;
  overflow: hidden; /* 이미지 넘어가는거 숨김요 */
  margin-bottom: 5px;
}

.topBox > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 6px;
}

.favoriteBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomBox {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  padding: 10px 3px;
  /* justify-content: space-around; */
}

.title {
  display: flex;
  width: 100%;
  font-size: 16px;
  color: rgb(47, 52, 56);
  line-height: 18px;
  margin-bottom: 5px;
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ingredient {
  display: flex;
  align-items: center;
  width: 100%;
}
.profile {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 4px;
}
.ingredient {
  font-size: 12px;
  color: rgb(47, 52, 56);
  font-weight: 600;
}

.dataNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(33, 38, 41);
}

.pick,
.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.pick > p,
.comment > p {
  margin-left: 2px;
  font-size: 12px;
}

svg {
  width: 12px;
  height: 12px;
}
