.dropdown {
  position: relative;
}

.dropdown > button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 42px;
  padding: 5px 10px;
  margin: 0;
  background: white;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap; /* 텍스트를 한 줄로 유지 */
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  text-overflow: ellipsis; /* 줄임표(...) 표시 */
}

.dropdown > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 100px;
  margin: 0;
  padding: 0px;
  list-style: none;
  position: absolute;
  top: calc(100% + 8px);
  z-index: 1;
  border: 1px solid #ccc;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden;
}

.dropdown li {
  width: 100%;
  height: 100%;
}

.dropdown li > button {
  width: 100%;
  padding: 10px 12px;
  background: transparent;
  border: none;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  color: #2b2b2b;
  /* border-top: 1px; */
}

.dropdown li:hover {
  background: #fef1f0;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
