.navContainer {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 8vh;
  justify-content: space-between;
  background-color: green;
  align-items: center;
  position: fixed;
  z-index: 999;
}

.logo {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
}
